/*contact page*/

.contact-header {
  display: flex;
  background-color: #1c2026;
  width: 100%;
  justify-content: center;
  margin: 5px 0px;
}

.contact-header img {
  height: 100px;
}

.main-contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0px 20px;
  max-width: 500px;
}

.main-contact h1 {
  font-size: 2.5rem;
}

.main-contact p {
  margin: 2px 0px;
  color: #1c2026;
  font-size: 1rem;
}

.main-contact a {
  font-size: 1rem;
  color: #1c2026;
  font-weight: bold;
  font-style: italic;
  margin: 2px 0px;
}

.contact-page__links {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.email {
  max-width: 200px;
}

.error-message {
  color: red;
  font-size: 1rem;
  font-family: "open sans", Verdana, Geneva, Tahoma, sans-serif;
}

.error-class {
  background-color: lightcoral;
}

.contact-subject {
  background-color: #fff;
}

.contact-button {
  margin-top: 10px;
  display: flex;
  border-style: none;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 35px;
  max-width: 200px;
  font-size: 1rem;
  background-color: #1c2026;
  font-family: "open sans", Verdana, Tahoma, "Trebuchet MS", Arial, Helvetica;
  color: white;
}

.contact-button:hover {
  background-color: #0a3641;
}

.contact-button:active {
  background-color: #fff;
  color: #1c2026;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.success-contact {
  color: #0a3641;
  font-size: 1.5rem;
  font-family: "open sans", Verdana, Geneva, Tahoma, sans-serif;
}

.contact-form {
  font-family: "open sans", Verdana, Geneva, Tahoma, sans-serif;
}
