/*product specific page Golden age*/

.main-golden-age {
  display: flex;
  flex-direction: column;
}

.golden-age__image {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.golden-age__image img {
  width: 100%;
}

.golden-age__image-selections {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.product-specific-checkout__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.golden-age__information h2 {
  margin: 5px 20px 30px 20px;
  color: #34665b;
}

.golden-age__information h1 {
  margin: 20px 20px 0px 20px;
  font-size: 2rem;
}

.golden-age__information p {
  margin: 0px 20px;
}

.size-selector,
.color-selector {
  margin-left: 20px;
  margin-right: 20px;
}

.color-selector {
  margin-top: 30px;
}

.size-selector {
  margin-top: 20px;
  margin-bottom: 50px;
}

.cta-add-cart {
  margin: 20px;
  padding: 10px 110px;
}
