/*Product page*/

.store-heading,
.store-heading__img-new-arrivals,
.store-heading__img-outlet,
.store-heading__img-men,
.store-heading__img-women,
.about-heading__img {
  display: flex;
  flex-direction: row;
  min-height: 200px;
  margin-top: 5px;
}

.store-heading__img-men {
  background-image: url(../images/men-image.jpg);
}

.store-heading__img-women {
  background-image: url(../images/women-image.jpg);
}

.store-heading__img-new-arrivals {
  background-image: url(../images/new-arrivals.jpg);
}

.store-heading__img-outlet {
  background-image: url(../images/outlet-image.jpg);
}

.store-heading__img-men {
  background-image: url(../images/men-image.jpg);
}

.store-heading__img-women,
.store-heading__img-men,
.store-heading__img-new-arrivals,
.store-heading__img-outlet,
.about-heading__img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.store-heading__img-new-arrivals h1,
.store-heading__img-outlet h1,
.store-heading__img-men h1,
.store-heading__img-women h1 {
  font-size: 1.5rem;
  padding: 10px 30px;
  color: #fff;
  background-color: rgba(10, 54, 65, 80%);
  align-self: start;
  margin: 25px 0px;
  text-transform: uppercase;
}

.store-heading__img-new-arrivals .store-marketing-text__wrapper .store-marketing-text__bold,
.store-heading__img-outlet .store-marketing-text__wrapper .store-marketing-text__bold,
.store-heading__img-men .store-marketing-text__wrapper .store-marketing-text__bold,
.store-heading__img-women .store-marketing-text__wrapper .store-marketing-text__bold {
  margin: 0px 3px;
}

/*Products main heading*/

.store-products {
  position: relative;
}

.store-products h1 {
  font-size: 2.5rem;
  margin: 5px auto 20px 5px;
}

.store-products h2 {
  display: inline-block;
  color: #34665b;
}

#filters-menu:checked ~ .product-filters {
  display: block;
}

.filters-menu__label {
  background-color: #0a3641;
  color: #fff;
  border-style: solid;
  border-color: #1c2026;
  border-radius: 15%;
  border-width: 2px;
  font-size: 0.6rem;
  padding: 5px 20px;
  margin-left: 5px;
  font-family: "open sans", Verdana, Tahoma, "Trebuchet MS", Arial, Helvetica;
  font-weight: bold;
  text-transform: uppercase;
}

#filters-menu {
  display: none;
}

.product-filters {
  position: absolute;
  width: 200px;
}

.product-filters h3 {
  font-size: 3rem;
}

/*Products list*/

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2px;
}

.product-list img {
  width: 100%;
}

.product-wrapper {
  display: flex;
  flex-direction: column;
}

.product-text {
  background-color: #0a3641;
  color: #fff;
  padding: 2px;
}

.product-text h2,
.product-text h3,
.product-text p {
  color: #fff;
  margin: 2px;
}

.product-text h2 {
  font-size: 1.5rem;
}

.product-text h3 {
  font-size: 2rem;
}

.product-text p {
  font-size: 1rem;
}

.product-text .price-tag {
  color: #75d998;
}
